<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hyviä uutisia</title>
        <meta charset="UTF-8" />
    </head>
    <body>
    
        <h2>Tästä tulee niin vitun hieno uutissivu!</h2>


        <div align = "right">
            <p>
                <a th:href="@{/news}">Lisää uutinen</a><br/>
            </p>
        </div>

        <form th:action="@{/news}" method="GET">

            <div th:each="u : ${uutine}">
                <h2><a th:href="@{/news/{uid}(uid=${u.id})}"><span th:text="${u.otsikko}">uutisotsikko</span></a></h2> <br/>
                <h3><a th:text="${u.ingressi}">ingressi</a></h3><br/>
            </div>

        </form>

    </body>


</html>
